rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Match the user document
    match /users/{userId}/{document=**} {
      // Allow the user to read/write their own documents at any depth
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Match the games collection
    // allows all users to create and delete games
    match /games/{gameId} {
      // Allow authenticated users to write
      allow read, write: if request.auth != null;
      }
    
    // Match the games/{gameId}/players collection
    // allows all users to add themselves to the game
    match /games/{gameId}/players/{playerId} {
      // Allow authenticated users to write
      allow read, write: if request.auth != null;
      }

		// Match the games todos subcollection
    // A user's uid must be contained in the members field of the game to read/write
    match /games/{gameId}/todos/{todoId} {
				allow read, write: if request.auth.uid in get(/databases/$(database)/documents/games/$(gameId)).data.members;
    }
    
  }
}