rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Match the user document
    match /users/{userId}/{document=**} {
      // Allow the user to read/write their own documents at any depth
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Match the groups collection
    // allows all users to create and delete groups
    match /groups/{groupId} {
      // Allow authenticated users to write
      allow read, write: if request.auth != null;
      }

		// Match the groups todos subcollection
    // A user's uid must be contained in the members field of the group to read/write
    match /groups/{groupId}/todos/{todoId} {
				allow read, write: if request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.members;
    }
    
  }
}