:root {
    --darkest-color: rgb(5, 12, 26);
    --less-dark-color: rgb(17, 14, 90);
    --least-dark-color: rgba(75, 54, 138, 1);
    --main-text-color: rgb(255, 246, 255);
    --secondary-text-color: rgb(135, 195, 238);
    --dark-text-color: rgb(0, 0, 0);
    --transparent-color: rgba(255, 255, 255, 0.7);
    --border-color: rgb(212, 206, 232);
    --secondary-border-color: rgb(42, 39, 145);
}

body {
    background-color: var(--darkest-color) !important;
    color: var(--main-text-color) !important;
    border-color: var(--transparent-color) !important;
    border-radius: 5px !important;
}


.modal .modal-content {
    background-color: var(--less-dark-color) !important;
    color: var(--main-text-color) !important;
}

.card {
    background-color: var(--less-dark-color) !important;
    color: var(--secondary-text-color) !important;
    border-color: var(--secondary-border-color) !important;
    border-width: 3px !important;
    border-radius: 5px !important;
    /* box-shadow: 0 0 10px var(--box-shadow-color);  */
}

.user-card {
    height: 75px !important;
    width: auto;
    margin: auto;
    padding: auto;

    border-radius: 5px !important;
    /* box-shadow: 0 0 10px var(--box-shadow-color); */
}

.user-card-body {
    display: flex;
    justify-content: space-between;
    background-color: var(--less-dark-color) !important;
}

.login-providers-card-body {
    display: flex;
    justify-content: space-between;
    background-color: var(--least-dark-color) !important;
    border-radius: 5px;
}

.loading-spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--least-dark-color);
    opacity: 0.8;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.alt-color {
    background-color: var(--less-dark-color) !important;
}

.opaque {
    opacity: 1;
}

.user-name {
    color: var(--main-text-color) !important;
}

.todos-error-message {
    color: rgb(226, 16, 26);
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.game-card .card-body {
    padding: 10px !important;
    padding-left: 16px !important;
}

.games-form {
    display: flex;
    flex-direction: row !important;
    margin-bottom: 10px;
}

.games-form .btn {
    margin-left: 10px !important;
    margin-bottom: 10px;
}

.games-li {
    max-width: 500px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    gap: 10px;
    align-items: start;
    /* This aligns the grid items along the start of the block axis */

}

.games-li .button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* This adds some space between the buttons */
}

.button-group .btn {
    width: 100px !important;
    /* This makes the buttons take up the full width of their grid cell */
}

.btn-link {
    color: var(--secondary-text-color) !important;
}

.btn-link:hover {
    background-color: transparent !important;
}

.card-subtitle {
    color: var(--secondary-text-color) !important;
    margin-bottom: 10px !important;
}

.game-board-buttons button {
    margin-right: 10px;
    margin-bottom: 10px;
}